<!doctype html>
<html lang="1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/styles/script.js" defer></script>
    <title>Book Notes Project</title>
</head>
<body>
<%- include("./partials/header.ejs") %>
<main class="main-add-edit">
<!--    validation error helper-->
    <% function getError(field, isReadOnly = false) {
        if (!locals.error || isReadOnly) return null;
        const err = locals.error.details.find(e => e.path === field);
        return err ? err.msg : null;
    } %>
    <form action="/books/edit/<%= locals.foundBook?.id || formId.id %>" method="post">
        <h2 class="add-edit-heading">Please edit your book</h2>
        <input type="text"
               name="title"
               placeholder="Title"
               value="<%= locals.foundBook?.title || formData.title %>"
               autocomplete="off"
               readonly>
        <p class="form-error"><%= getError('title', true)%></p>
        <input
                type="text"
                name="author"
                placeholder="Author"
                value="<%= locals.foundBook?.author || formData.author %>"
                autocomplete="off"
                readonly>
        <p class="form-error"><%= getError('author', true) %></p>
        <input
                type="text"
                name="isbn"
                placeholder="ISBN"
                value="<%= locals.foundBook?.isbn || formData.isbn %>"
                autocomplete="off"
                readonly>
        <p class="form-error"><%= getError('isbn', true) %></p>
        <input
                type="text"
                name="reader_name"
                placeholder="Your name"
                value="<%= locals.foundBook?.reader_name || formData.reader_name %>"
                autocomplete="off"
                readonly>
        <p class="form-error"><%= getError('reader_name', true) %></p>
        <label for="date" id="form-date-read">Date read:</label>
        <input
                type="date"
                name="date"
                id="date"
                placeholder="date read"
                value="<%= locals.foundBook?.formattedDate || formData.date %>"
                autocomplete="off">
        <p class="form-error"><%= getError('date') %></p>
        <textarea
                name="review"
                rows="10"
                autocomplete="off"
                placeholder="Please leave a review"><%= locals.foundBook?.review || formData.review %>
        </textarea>
        <p class="form-error"><%= getError('review') %></p>
        <label for="select">Please leave a rating</label>
        <div class="ranking-container">
            <label for="rate-1"><i class="star-ranking fa-solid fa-star"></i></label>
            <input type="radio" id="rate-1" name="rate" value="1" hidden="hidden">
            <label for="rate-2"><i class="star-ranking fa-solid fa-star"></i></label>
            <input type="radio" id="rate-2" name="rate" value="2" hidden="hidden">
            <label for="rate-3"><i class="star-ranking fa-solid fa-star"></i></label>
            <input type="radio" id="rate-3" name="rate" value="3" hidden="hidden">
            <label for="rate-4"><i class="star-ranking fa-solid fa-star"></i></label>
            <input type="radio" id="rate-4" name="rate" value="4" hidden="hidden">
            <label for="rate-5"><i class="star-ranking fa-solid fa-star"></i></label>
            <input type="radio" id="rate-5" name="rate" value="5" hidden="hidden">
        </div>
        <p class="form-error"><%= getError('rate') %></p>
        <button type="submit">Submit</button>
    </form>
</main>
<%- include("./partials/footer.ejs") %>
</body>
</html>