<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./styles/main.css">
    <title>OzWeather</title>
</head>
<body>
<form action="/submit" method="post">
    <input type="text" name="city" placeholder="Search for a town" autocomplete="off" required>
    <button class="search-btn" type="submit"><img class="search-icon"  src="./images/search icon.svg" alt=""></button>
</form>
<% if (locals.city) { %>
<div id="info">
    <h2 id="city-name"><%= locals.city %></h2>
    <p id="temp"><%= locals.temp %>&deg;C</p>
<!--    Weather icon-->
    <div><img src="https://openweathermap.org/img/wn/<%= locals.icon %>@2x.png" alt=""></div>
    <p id="description"> <%= locals.description %></p>
    <p id="humidity"><i class="fa-solid fa-droplet"></i> Humidity : <%= locals.humidity %>%</p>
    <div id="min-max">
        <p>MIN: <%= locals.tempMin %>&deg;C</p>
        <p>MAX: <%= locals.tempMax %>&deg;C</p>
    </div>
    <a href="/"><button class="home-btn">Back to Home</button></a>
</div>
<% } else { %>
<div id="welcome-msg">
    <h1 >Welcome to OzWeather</h1>
    <p>Current weather around Australia</p>
</div>
<% } %>
<script>
    // Adding the error message to the input placeholder
    const error = "<%= locals.errMsg %>"
    if (error){
        document.querySelector("input").setAttribute("placeholder", error);
    }
</script>
</body>
</html>
