<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/styles/script.js" defer></script>
    <title>JournaLog - New - Posts</title>
</head>
<body>
<main>
<%- include("partials/header.ejs") %>
<!--    Validation error helper-->
    <% function getError(field) {
        if (!locals.errors) return null;
        const err = locals.errors.find(e => e.path === field);
        return err ? err.msg : null;
     } %>
    <div class="form-cont">
    <form action="/edit/<%= foundPost.id %>" method="post">
            <h2>Edit your post</h2>
            <input
                    type="text"
                    name="author"
                    placeholder="Author"
                    autocomplete="off"
                    value="<%= locals.postData?.author || foundPost.author %>">
            <% if (getError('author')) { %>
                <p class="form-error"><%= getError('author') %></p>
            <% } %>
            <input
                    type="text"
                    name="title"
                    placeholder="Title"
                    autocomplete="off"
                    value="<%= locals.postData?.title || foundPost.title %>">
            <% if (getError('title')) { %>
                <p class="form-error"><%= getError('title') %></p>
            <% } %>
            <textarea
                    name="text"
                    cols="60"
                    rows="20"
                    autocomplete="off"
                    placeholder="Your blog"><%= locals.postData?.text || foundPost.text %></textarea>
            <% if (getError('text')) { %>
                <p class="form-error"><%= getError('text') %></p>
            <% } %>
            <button type="submit">Submit</button>
        </form>
    </div>
    <%- include("partials/footer.ejs") %>
</main>
</body>
</html>