<!doctype html>
<html lang="1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/main.css">
    <title>Book Notes Project</title>
</head>
<body>
<%- include("./partials/header.ejs") %>
<main id="main-books">
    <form id="sort-form" action="/sort" method="post">
        <div id="sort-container">
            <label for="sort">Sort by:</label>
            <select name="sort" id="sort" onchange="this.form.submit()">
                <option value="">-- Please choose an option --</option>
                <option value="Rating">Rating</option>
                <option value="Date Read">Date Read</option>
                <option value="Alphabet">Alphabet</option>
            </select>
        </div>
    </form>
    <% booksArr.forEach((book) => { %>
        <div class="book-container">
            <img class="book-cover" src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="book cover">
            <h2 class="title"> <%= book.title%> - By <%= book.author %>  </h2>
            <p class="date-read">DATE READ: <%= book.date %></p>
            <div class="ranking-display">
                <i class="star<%=book.id%> fa-solid fa-star star-display"></i>
                <i class="star<%=book.id%> fa-solid fa-star star-display"></i>
                <i class="star<%=book.id%> fa-solid fa-star star-display"></i>
                <i class="star<%=book.id%> fa-solid fa-star star-display"></i>
                <i class="star<%=book.id%> fa-solid fa-star star-display"></i>
            </div>
            <p class="review"><%= book.review %></p>
            <div id="edit-delete-container">
                <a href="/books/delete/<%= book.id %>"><button class="delete">Delete</button></a>
                <a href="/books/edit/<%= book.id %>"><button class="edit">Edit</button></a>
            </div>
        </div>
    <% }) %>
</main>
<%- include("./partials/footer.ejs") %>
<script>
    const date = new Date ();
    const year = date.getFullYear();
    document.querySelector("footer").innerHTML = `<p>Copyright &copy; ${year} - Website created by Nima Karkhaneh</p><p><i class=\"fa-solid fa-envelope\"></i>nimakarkahneh@gmail.com</p><p><a href=\"/\"><i class=\"fab fa-linkedin\"></a></i><a href=\"/\"><i class=\"fa-brands fa-github\"></i></a></p>`;
    const data = JSON.parse('<%- JSON.stringify( starDisplay )%>');
    console.log(data);
    data.forEach((d)=>{
        const id = d.id;
        const rate = d.rate;
        const stars = document.querySelectorAll(`.star${id}`);
        if (stars != null)
        for (let i = 0; i < rate; i++){
            stars[i].style.color = "#dabd18b2"
        }
    })
</script>
</body>
</html>