<!doctype html>
<html lang="1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/main.css">
    <script src="/script.js" defer></script>
    <title>Book Notes Project</title>
</head>
<body>
<%- include("./partials/header.ejs") %>
<main class="main-add">
    <form action="/books/edit/<%= foundBook.id %>" method="post">
        <h2>Please edit your book</h2>
        <input type="text" name="title" placeholder="Title" value="<%= foundBook.title%>" autocomplete="off" required>
        <input type="text" name="author" placeholder="Author" value="<%= foundBook.author %>" autocomplete="off" required>
        <input type="text" name="ISBN" placeholder="ISBN" autocomplete="off" required>
        <input type="date" id="date" name="date" autocomplete="off required">
        <textarea name="review" id="" cols="60" rows="20" autocomplete="off" placeholder="Please leave a review"><%= foundBook.review %></textarea>
        <label for="select">Please leave a rating</label>
        <div class="ranking-container">
            <label for="rate-1"><i class="star-ranking fa-solid fa-star"></i></label>
            <input type="radio" id="rate-1" name="rate" value="1" hidden="hidden">
            <label for="rate-2"><i class="star-ranking fa-solid fa-star"></i></label>
            <input type="radio" id="rate-2" name="rate" value="2" hidden="hidden">
            <label for="rate-3"><i class="star-ranking fa-solid fa-star"></i></label>
            <input type="radio" id="rate-3" name="rate" value="3" hidden="hidden">
            <label for="rate-4"><i class="star-ranking fa-solid fa-star"></i></label>
            <input type="radio" id="rate-4" name="rate" value="4" hidden="hidden">
            <label for="rate-5"><i class="star-ranking fa-solid fa-star"></i></label>
            <input type="radio" id="rate-5" name="rate" value="5" hidden="hidden">
        </div>
        <button type="submit">Submit</button>
    </form>
</main>
<%- include("./partials/footer.ejs") %>
</body>
</html>